[pull]
  ff = only
[includeIf "gitdir:~/Workspace/Beliven - GitHub.com/"]
  path = ~/.oh-my-zsh/git/.gitconfig_github
[includeIf "gitdir:~/Workspace/GitLabCE/"]
  path = ~/.oh-my-zsh/git/.gitconfig_gitlabce
